<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ws_SearchAddressElementByFullName2SoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.42.78.144:8081/PONWebServices/WsSearchAddrElByFullNamePortType2"
                binding="basicHttpBinding" bindingConfiguration="ws_SearchAddressElementByFullName2SoapBinding"
                contract="VerificationWebService.wsSearchAddrElByFullNamePortType2"
                name="WsSearchAddrElByFullNamePortTypeImpl2Port" />
        </client>
    </system.serviceModel>
</configuration>