<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
           <section name="GeoCoding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeoCoding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
   <GeoCoding.Properties.Settings>
    <setting name="CanGetDataOnce" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="IsFileInputOnFTP" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanCopyFileOutputToFtp" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanBreakFileOutput" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="MaxSizePart" serializeAs="String">
     <value>4999</value>
    </setting>
    <setting name="CanGeoCodGetAll" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="CanGeoCodGetError" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanGeoCodGetNotGeo" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanSaveDataAsTemp" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="CanSaveDataAsFinished" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="FtpServer" serializeAs="String">
     <value />
    </setting>
    <setting name="FtpPort" serializeAs="String">
     <value>21</value>
    </setting>
    <setting name="FtpUser" serializeAs="String">
     <value />
    </setting>
    <setting name="FtpPassword" serializeAs="String">
     <value />
    </setting>
    <setting name="FtpFolderInput" serializeAs="String">
     <value />
    </setting>
    <setting name="FtpFolderOutput" serializeAs="String">
     <value />
    </setting>
    <setting name="CanOpenFolderAfter" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanGeoCodAfterGetFile" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanSaveStatistics" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="ColorTheme" serializeAs="String">
     <value>Light.Blue</value>
    </setting>
    <setting name="BDServer" serializeAs="String">
     <value />
    </setting>
    <setting name="BDName" serializeAs="String">
     <value />
    </setting>
    <setting name="BDPort" serializeAs="String">
     <value>5432</value>
    </setting>
    <setting name="BDLogin" serializeAs="String">
     <value />
    </setting>
    <setting name="BDPassword" serializeAs="String">
     <value />
    </setting>
    <setting name="GeoService" serializeAs="String">
     <value>YANDEX</value>
    </setting>
    <setting name="CanNotificationSaveSettings" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanNotificationSaveData" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanNotificationProcessCancel" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanNotificationDataProcessed" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="CanNotificationDataEmpty" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="CanNotificationStatAlreadySave" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanNotificationOnlyError" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanStartCompact" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanNotificationExit" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="IsMultipleRequests" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="IsMultipleProxy" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="IsNotProxy" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="IsSystemProxy" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="IsManualProxy" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="IsListProxy" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="ProxyAddress" serializeAs="String">
     <value />
    </setting>
    <setting name="ProxyPort" serializeAs="String">
     <value>0</value>
    </setting>
    <setting name="CountRequests" serializeAs="String">
     <value>5</value>
    </setting>
    <setting name="CountProxy" serializeAs="String">
     <value>20</value>
    </setting>
    <setting name="MaxCountError" serializeAs="String">
     <value>50</value>
    </setting>
    <setting name="MaxCountErrorForProxy" serializeAs="String">
     <value>10</value>
    </setting>
    <setting name="VerificationServer" serializeAs="String">
     <value />
    </setting>
    <setting name="CanUseVerificationModule" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="CanUseBdModule" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanUseFtpModule" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="VerificationServerFactor" serializeAs="String">
     <value />
    </setting>
    <setting name="CanUsePolygon" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="CanUseANSI" serializeAs="String">
     <value>True</value>
    </setting>
    <setting name="BackgroundGeo" serializeAs="String">
     <value>False</value>
    </setting>
    <setting name="ListDayWeekMode" serializeAs="String">
     <value />
    </setting>
    <setting name="ScpriptBackgroundGeo" serializeAs="String">
     <value />
    </setting>
    <setting name="UseScriptBackGeo" serializeAs="String">
     <value>True</value>
    </setting>
   </GeoCoding.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GeoCoding.Properties.Settings>
      <setting name="FolderInput" serializeAs="String">
        <value>Input</value>
      </setting>
      <setting name="FolderOutput" serializeAs="String">
        <value>Output</value>
      </setting>
      <setting name="FolderTemp" serializeAs="String">
        <value>Temp</value>
      </setting>
      <setting name="FolderStatistics" serializeAs="String">
        <value>Statistics</value>
      </setting>
      <setting name="FolderErrors" serializeAs="String">
        <value>Errors</value>
      </setting>
    </GeoCoding.Properties.Settings>
  </applicationSettings>
</configuration>