<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeoCoding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeoCoding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GeoCoding.Properties.Settings>
      <setting name="CanGetDataOnce" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFileInputOnFTP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanCopyFileOutputToFtp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanBreakFileOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxSizePart" serializeAs="String">
        <value>4999</value>
      </setting>
      <setting name="CanGeoCodGetAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanGeoCodGetError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanGeoCodGetNotGeo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanSaveDataAsTemp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanSaveDataAsFinished" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>ftp://</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpFolderInput" serializeAs="String">
        <value>/exchange/ORPONtoGeo/upload/</value>
      </setting>
      <setting name="FtpFolderOutput" serializeAs="String">
        <value>/exchange/ORPONtoGeo/load/</value>
      </setting>
      <setting name="CanOpenFolderAfter" serializeAs="String">
        <value>False</value>
      </setting>
    </GeoCoding.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GeoCoding.Properties.Settings>
      <setting name="FolderInput" serializeAs="String">
        <value>Input</value>
      </setting>
      <setting name="FolderOutput" serializeAs="String">
        <value>Output</value>
      </setting>
      <setting name="FolderTemp" serializeAs="String">
        <value>Temp</value>
      </setting>
    </GeoCoding.Properties.Settings>
  </applicationSettings>
</configuration>