<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net471" />
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net471" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net471" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.6.0-preview.19073.11" targetFramework="net471" />
</packages>